.aboutMe {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: medium;
}

.aboutMe p{
    line-height: 170%;
}

.aboutMe p2{
    font-size: smaller;
}