.cv {
    text-align: left !important;
    font-family: 'Segoe UI', Verdana, Geneva, sans-serif;
}

.cv table {
    margin-top: 4vh;
    border-spacing: 20px 10px;
}

.cv table tr th {
    vertical-align: top;
    text-align: right;
    width: 20%;
    font-weight: normal;
}