/*---- Footer Data ----*/
.footer {
    position: relative;
    color: white;
    bottom: 0;
    z-index: -5;
    width: 100%;
    text-align: center;
    background-color: black !important;
    border-top: solid white 1px;
}

.imprint {
	text-align: right;
	text-decoration: none;
    font-style: none;
	position: relative;
    bottom: 0px;
	margin-top: 100px;
}

.cookieBanner {
    position: fixed;
    bottom: 0px;
    border: white solid 1px;
    z-index: 2;
    background-color: black;
	padding: 10px;
	display: none;
} 

.cookieBanner p {
	color: white;
    margin: 5px;
}

.cookieBanner ul {
    list-style-type: none;
    display: flex;
	color: black;
}

.cookieBanner li {
	margin: auto;
    text-align: center;
    padding: 7px 10px;
    background-color: white;
    border: black double 1px;
}

.cookieBanner li a {
	color: black;
	text-decoration: none;
}





