/*---- Footer Data ----*/
.footer {
    position: relative;
    color: white;
    bottom: 0;
    z-index: -5;
    width: 100%;
    text-align: center;
    background-color: black !important;
    border-top: solid white 1px;
}