/*---- Footer Data ----*/
.footer {
    position: relative;
    color: white;
    bottom: 0;
    z-index: -5;
    width: 100%;
    text-align: center;
    background-color: black !important;
    border-top: solid white 1px;

}

.cookieBanner {
    position: fixed;
    bottom: 0px;
    border: white solid 1px;
    z-index: 2;
    background-color: black;
	padding: 10px;
} 

.cookieBanner p {
	color: white;
    margin: 5px;
}

.cookieBanner ul {
    list-style-type: none;
    display: flex;
}

.cookieBanner li {
	margin: auto;
	color: black;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
    background-color: white;
    border: black double 1px;
}


