/*---- General ----*/
html {
    height: 100%;
}

body {
    font-family: HelvLight, 'Segoe UI', Verdana, sans-serif;
    margin: 0;
    z-index: 1;
    background: black no-repeat left;
    background-size: 100vw auto;
    color: white;
}

.aboutMe {
    font-family: Tahoma, Verdana, sans-serif;
    color: white;
    font-size: medium;
}

.aboutMe p{
    line-height: 170%;
}

.aboutMe p2{
    font-size: smaller;
}

.cv {
    text-align: left !important;
    font-family: 'Segoe UI', Verdana, Geneva, sans-serif;
}

.cv ul {
    left: -5vw;
    font-size: large;
    margin-bottom: 4vh;
}

.cv ul li{
    line-height: 180%;
}

.cv ul li ul {
    font-size: medium;
    margin-top: 0.5vh;
}


.linkButton {
    text-align: center;
    display: inline;
    padding: 1% 2%;
    font-size: small;
    margin: auto 4vh auto 0;
    border: solid rgba(255, 255, 255, 0.7) 1px;
    border-radius: 5px;
}

.linkButton:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.header {
    display: block;
    margin-top: 90px;
    color: white;
}

.header.home {
    text-align: center;
    overflow: visible;
    background: black url("/assets/pictures/reel.gif") no-repeat left;
    background-size: 100vw auto;
    padding: 16vw 0vw 14vw;
    margin: 0;
    margin-bottom: -1rem;
    font-size: 1rem;
}

.header.home h1{
    font-size: 2rem;
    transition: font-size 0.6s;
}

.header.standard {
    margin-left: 25%;
    text-decoration-color: white;
}

.content.all {
    min-height: 120vh;
    position: relative;
    padding-bottom: 4rem;
}

.content.standard {
    position: absolute;
    left: 25%;
    right: 25%;
    margin: auto;
    line-height: 1.6;
    text-align: justify;
    justify-content: center;
    display: block;
}

.content.standard h2 {
    font-family: HelvLight, 'Segoe UI', sans-serif;
}

.content.standard a:link{
    text-decoration: none;
}

iframe {
    width: 40rem;
    height: 20rem;
}

a:link {
    color: white;
    transition-duration: 0.5s;
}

a:visited{
    color: white;
}


/*---- Mobile Video Element ----*/
@media screen and (max-width: 800px) {
    .video-frame {
        position: relative;
    }

    iframe {
        align-content: center;
        width: 100%;
        height: auto;
    }
}

/*---- Mobile Content ----*/
@media screen and (max-width: 700px) {
    .header.standard {
        margin-left: 10%;
    }

    .header.home p{
        font-size: 3.5vw;
    }

    .header.home h1{
        font-size: 5.5vw;
    }

    .content.standard {
        position: absolute;
        left: 10%;
        right: 10%;
        margin: auto;
        line-height: 1.5;
        text-align: justify;
        justify-content: center;
    }

    body {
        margin: 0;
        z-index: 1;
        background: black no-repeat center;
        background-size: auto 100vh;
    }
}

/*---- Contact Data ----*/
.contact.logo {
    width: 40px;
    margin-top: 2%;
    margin-right: 6%;
}

.home.logos {
    display: flex !important;
    flex: 30%;
    padding: 2vw 10vw;
    position: relative;
    justify-content: center;
}

.home.logos img {
    height: 45px;
    width: auto;
    position: relative;
    display: block !important;
    margin: 25px !important;
}

@media screen and (max-width: 700px) {
    .home.logos img
    {
        height: 10vw;
    }

    .pic_trailer img {
        width: 80%;
        height: auto;
    }
}