/*---- General ----*/
html {
    height: 100%;
}

body {
    margin: 0;
    z-index: 1;
    background-color: black;
}

p {
    font-family: 'Segoe UI', Georgia, sans-serif;
    color: white;
}

ul {
    color: white;
}

.header {
    display: block;
    margin-top: 90px;
    font-family: HelvLight, 'Segoe UI', sans-serif;
    color: white;
}

.header.home {
    text-align: center;
    overflow: visible;
    background-image: url("/assets/pictures/reel.gif");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100vw auto;
    padding: 16vw 0vw;
    margin: 0;
    font-size: 0.9rem;
}

.header.standard {
    margin-left: 25%;
    text-decoration: underline;
    text-decoration-color: white;
}

.content.all {
    min-height: 120vh;
    position: relative;
    padding-bottom: 4rem;
}

.content.standard {
    position: absolute;
    left: 25%;
    right: 25%;
    margin: auto;
    line-height: 1.6;
    text-align: justify;
    justify-content: center;
    display: block;
}

iframe {
    width: 40rem;
    height: 20rem;
}


/*---- Mobile Video Element ----*/
@media screen and (max-width: 800px) {
    .video-frame {
        position: relative;
    }

    iframe {
        align-content: center;
        width: 100%;
        height: auto;
    }
}

/*---- Mobile Content ----*/
@media screen and (max-width: 800px) {
    .header.standard {
        margin-left: 15%;
    }

    .content.standard {
        position: absolute;
        left: 15%;
        right: 15%;
        margin: auto;
        line-height: 1.5;
        text-align: justify;
        justify-content: center;
    }
}

/*---- Contact Data ----*/
.logo {
    width: 40px;
    margin-top: 2%;
    margin-right: 6%;
}
