/*---- General ----*/
html {
    height: 100%;
}

body {
    font-family: HelvLight, 'Segoe UI', Verdana, sans-serif;
    margin: 0;
    z-index: 1;
    background: black no-repeat left;
    background-size: 100vw auto;
    color: white;
}

.linkButton {
    text-align: center;
    display: inline;
    padding: 1% 2%;
    font-size: small;
    margin: auto 4vh auto 0;
    border: solid rgba(255, 255, 255, 0.7) 1px;
    border-radius: 5px;
}

.linkButton:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.header {
    display: block;
    margin-top: 90px;
    color: white;
}

.header.home {
    text-align: center;
    overflow: visible;
    background: black url("/assets/pictures/reel.gif") no-repeat left;
    background-size: 100vw auto;
    padding: 16vw 0vw 14vw;
    margin: 0;
    margin-bottom: -1rem;
    font-size: 1rem;
}

.header.standard {
    margin-left: 25%;
    text-decoration-color: white;
}

.content.all {
    min-height: 120vh;
    position: relative;
    padding-bottom: 4rem;
}

.content.standard {
    position: absolute;
    left: 25%;
    right: 25%;
    margin: auto;
    line-height: 1.6;
    text-align: justify;
    justify-content: center;
    display: block;
}

h1 {
    font-size: 2rem;
}

h2 {
    display: flex;
    flex: 100%;
    font-weight: lighter;
    margin: 0 auto;
    font-size: 1.6rem;
    justify-content: center;
    padding-top: 0.5rem;
    text-decoration: underline;
}

h3 {
    position: relative;
    font-size: 110%;
    font-weight: normal;
    text-align: center;
    left: 0;
    top: 50%;
    color: white;
    z-index: -1;
}

a:link {
    color: white;
    transition-duration: 0.5s;
    text-decoration: none;
}

a:visited{
    color: white;
}

/*---- Mobile Content ----*/
@media screen and (max-width: 850px) {
    .header.standard {
        margin-left: 10%;
    }

    .header.home {
        background: black url("/assets/pictures/reel_low-res.gif") no-repeat left;
        background-size: 100vw auto;
    }

    .header.home p{
        font-size: 3.5vw;
    }

    .header.home h1{
        font-size: 5.5vw;
    }

    h3 {
        margin: 2rem auto 0;
        font-size: 130%;
        text-decoration: underline;
        text-decoration-style: dashed;
    }

    .content.standard {
        position: absolute;
        left: 10%;
        right: 10%;
        margin: auto;
        line-height: 1.5;
        text-align: justify;
        justify-content: center;
    }

    body {
        margin: 0;
        z-index: 1;
        background: black no-repeat center;
        background-size: auto 100vh;
    }
}
