/*---- Home Highlights Section ---*/
.highlights {
    position: relative;
    background-color: black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.highlights p {
    font-family: HelvLight, 'Segoe UI', sans-serif;
    display: flex;
    flex: 100%;
    margin: -2rem auto 0.5rem auto;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    padding-top: 0.5rem;
    text-decoration: underline;
}

.container {
    flex: 30%;
    max-width: 100%;
    padding: 0px 10px 16px 10px;
    margin: 1vw 0vw;
    left: 0;
    font-family: HelvLight, 'Segoe UI', sans-serif;
}

.container.thumbnail {
    display: block !important;
    position: relative;
    height: 14vw;
    width: auto;
    margin: auto !important;
    justify-content: center;
}

.container.thumbnail:hover {
    opacity: 0.3;
    transition: opacity 0.3s;
}

.container.title {
    position: relative;
    font-size: 1.7vw;
    text-align: center;
    left: 0;
    top: -50%;
    color: white;
    z-index: -1;
}

/*---- Mobile Highlights Section ----*/
@media screen and (max-width: 700px) {
    .highlights {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        left: 0;
        z-index: 1;
    }

    .container {
        flex: 100%;
        padding: 0 10px;
        margin: 3vw auto 2.5vw;
        left: 0;
    }

    .container.thumbnail {
        height: 42vw;
        width: auto;
        margin: auto !important;
    }

    .container.title {
        position: relative;
        color: white;
        font-size: 4vw;
        text-align: center;
        left: 0;
        z-index: -1;
    }

    .highlights p {
        display: flex;
        flex: 100%;
        margin: -1.3rem auto 0.5rem auto;
        font-size: 4.75vw;
        text-decoration: underline;
    }
}