/*---- Home Highlights Section ---*/
.highlights {
    position: relative;
    background-color: black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.container {
    flex: 30%;
    max-width: 100%;
    padding: 16px;
    margin: 1vw 0vw;
    left: 0;
    font-family: HelvLight, 'Segoe UI', sans-serif;
}

.container.thumbnail {
    display: block !important;
    position: relative;
    height: 16vw;
    width: auto;
    margin: auto !important;
    justify-content: center;
}

.container.thumbnail:hover {
    opacity: 0.3;
    transition: opacity 0.3s;
}

.container.title {
    position: relative;
    font-size: 1.9vw;
    text-align: center;
    left: 0;
    top: -50%;
    color: white;
    z-index: -1;
}

/*---- Mobile Highlights Section ----*/
@media screen and (max-width: 800px) {
    .highlights {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        left: 0;
        z-index: 1;
    }

    .container {
        flex: 100%;
        padding: 0 10px;
        margin: 1vw auto;
        left: 0;
    }

    .container.thumbnail {
        height: 42vw;
        width: auto;
        margin: auto !important;
    }

    .container.title {
        position: relative;
        color: white;
        font-size: 5vw;
        text-align: center;
        left: 0;
        z-index: -1;
    }
}
