/*---- Navigation Menu ----*/
.topnav ul {
    overflow: hidden;
    z-index: 1;
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav li a:hover:not(.active) {
    background-color: gray;
    transition: background-color 0.35s;
}

.topnav .icon {
    display: none;
}

/*---- Mobile Navigation Menu ----*/
@media screen and (max-width: 800px) {
    .topnav li:not(:first-child) {
        display: none;
    }

    .topnav li.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
        z-index: 1;
    }

    .topnav.responsive li.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive li, .topnav.responsive li a {
        float: none;
        display: block;
        text-align: center;
    }
}