.project-container {
    display: block;
    width: calc(100%-80vw);
    justify-content: center;
    text-align: center;
}

.project-container.title {
    font-weight: normal !important;
    text-decoration: underline;
}

.project-container.thumbnail {
    width: auto;
    max-width: 100%;
    max-height: 40vh;
    margin: auto;
}

.project-container.preview {
    text-justify: inter-word;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.pic_trailer img {
    max-width: 100%;
    height: auto;
}

.gallery {
    width: 100%;
    display: flex;
    flex: 50%;
    flex-direction: row;
    margin: 2vh 0;
}

.projectContent a:link {
    text-decoration: underline solid rgba(255, 255, 255, 0.3);
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.15);
    transition-duration: 0.5s;
}

.projectContent a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


iframe {
    width: 100%;
    height: auto;
    min-height: 20rem;
}

/*---- Mobile Video Element ----*/
@media screen and (max-width: 850px) {
    .video-frame {
        position: relative;
    }

    iframe {
        align-content: center;
        width: 100%;
        height: auto;
    }
}