@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*---- General ----*/
body {
    margin: 0;
}

.header {
    margin-top: 90px;
}

.header.home {
    text-align: center;
    margin-bottom: 3%;
}

.header.standard {
    margin-left: 25%; 
}

.content.standard {
    position: absolute;  
    left: 25%;  
    right: 25%;
    margin: auto;
    line-height: 1.5;
    text-align: justify;
    justify-content: center;
}


/*--- Thumbnails on Index / Home page---*/
.highlights {
    position: relative;    
    left: 3%; 
    right: 3%;
    margin: auto;
    display: inline-flex;
}

.column img {
    margin-top: 10px;
}

.column {
    flex: 33.33%;
    padding: 0.8%;
}

/*---- Navigation Menu ----*/
.topnav ul{
    overflow: hidden;
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav li a:hover:not(.active) {
    background-color: gray;
    transition: background-color 0.35s;
}

.topnav .icon {
    display: none;
}

/*--- Mobile Navigation Menu ----*/
@media screen and (max-width: 700px) {
    .topnav li:not(:first-child) {
        display: none;
    }

    .topnav li.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive li.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive li, .topnav.responsive li a {
        float: none;
        display: block;
        text-align: center;
    }
}